* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}


.calculadora {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}

.display {
    grid-column: span 4;
    height: 100px;
    background: rgba(0,0,0,.7);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border: 2px solid #045de9;
}

.operador-anterior {
    font-size: 16px;
    color: rgba(255,255,255,0.75);
}

.operador-atual {
    font-size: 30px;
}

#backspace {
    grid-column: span 2;
}

#equal {
    grid-column: span 2;
    background:#36096d;
    opacity: 0.75;
    
}

button {
    padding: 15px 30px;
    color: white;
    background: rgba(0,0,0,.8);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #045de9;
}

button:hover {
    background: rgba(255, 255,255,0.30);
}

.operando, #backspace, .clear-operation, .clearE-operation {
    background: rgba(0,0,0,.4);;
}

#backspace:hover {
    background: rgba(255, 255,255,0.30);
}

#equal:hover {
    background:#36096d;
    opacity: 1;
}


.container {
    top: 140px;
    bottom: 20px;
    left: 20px;
    background: rgba(0,0,0,.8);
    position: fixed;
    height: 100px;
    color: white;
    width: 200px;
    border-radius: 10px;
}

ul .cientifica {
    list-style: none;
    padding:16px 30px;
    width: 100%;
    
    
}

li:hover {
    cursor: pointer;
    color: rgba(0,0,0,.8);
    background: white;
    border-radius: 10px;

}

i {
    min-width: 30px;
}


.cientifica-menu {
    display: none;
    border: 1px solid #045de9;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-top: 52px;
}


.wraper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);

    
}

.show-menu {
    display: inline-block;
}
.wraper button {
    background: rgba(0,0,0,.8);
}

.wraper button:hover {
    background: rgba(255, 255,255,0.30);
}


.operando-especial {
    background: rgba(0,0,0,.4);;
}